{% extends 'base/base.html'%}

{%block title%}
Frias
{%endblock%}

{%block content%}
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te frio</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-success">Añadir</a>
                    </div>
                  </div>
                  <div class="card-footer text-muted text-center">
                    Q 34.00
                  </div>
            </div>
        </div>
    </div>
</div>
<br>
{%endblock%}