{% extends 'base/base.html'%}

{% block title %}
carrito
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_modal.css')}}">
{% endblock %}


{% block content%}
<div class="container">
    <table class="table table-respomsive">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for i in range (0,tamaño)%}
            <tr>
                <form method="POST">
                <td><input class="modal-title" id="producto{{i}}" name="producto{{i}}" type="text" value="{{carrito[i]}}" readonly></td>
                <td><input class="modal-title" id="precio{{i}}" name="precio{{i}}" type="text" value="{{precio_carrito[i]}}" readonly></td>
                <td>   
                        <select name="cars" id="cars">
                          <option value="volvo">1</option>
                          <option value="saab">2</option>
                          <option value="opel">3</option>
                          <option value="audi">4</option>
                          <option value="opel">5</option>
                          <option value="audi">6</option>
                          <option value="opel">7</option>
                          <option value="audi">8</option>
                          <option value="opel">9</option>
                          <option value="audi">10</option>
                        </select>
                </td>
                <td>
                    <input type="submit" name="Eliminar" value="Eliminar" id="btnSubmit" class="btn btn-danger">
                </td>
                </form>
            </tr>
            {% endfor %}
                
        </tbody>
      </table>
      {% for i in range(0,11) %}
        <br>
      {% endfor %}
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modal1">Aceptar</button>
         <!-- Modal  -->
         <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <!--Formulario de productos y precios-->
              <form method="POST">
              <div class="modal-header">
                <h5>
                    Se enviara un correo de aceptacion
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                <input type="submit" name="Aceptar" value="Aceptar" id="btnSubmit" class="btn btn-primary">
              </div>
              </form>
              <!--Fin Formulario de productos y precios-->
            </div>
          </div>
      </div>
      <!-- fin Modal  -->
      </div>
</div>
{% for i in range(0,3) %}
        <br>
{% endfor %}

{% endblock %}