{% extends 'base/base.html'%}

{% block title %}
carrito
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_modal.css')}}">
{% endblock %}


{% block content%}
<div class="container-sm">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for i in range (0,tamaño)%}
            <tr>
                <form method="POST">
                <td><input class="modal-title" id="producto{{i}}" name="producto{{i}}" type="text" value="{{carrito[i]}}" readonly></td>
                <td><input class="modal-title" id="precio{{i}}" name="precio{{i}}" type="text" value="{{precio_carrito[i]}}" readonly></td>
                <td>   
                        <select name="cars" id="cars">
                          <option value="volvo">1</option>
                          <option value="saab">2</option>
                          <option value="opel">3</option>
                          <option value="audi">4</option>
                          <option value="opel">5</option>
                          <option value="audi">6</option>
                          <option value="opel">7</option>
                          <option value="audi">8</option>
                          <option value="opel">9</option>
                          <option value="audi">10</option>
                        </select>
                </td>
                <td>
                    <input type="submit" name="Eliminar" value="Eliminar" id="btnSubmit" class="btn btn-danger">
                </td>
                </form>
            </tr>
            {% endfor %}
                
        </tbody>
      </table>
      {% for i in range(0,11) %}
        <br>
      {% endfor %}
</div>


{% endblock %}